<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.silema.app.wear">

    <uses-feature android:name="android.hardware.type.watch" />

    <application>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="死了吗·手表端"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
